@font-face{
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face{
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face{
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

@font-face{
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

html{
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    color: #000000;
    background-color: #FFFFFF;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;
}

*, *::after, *::before {
    box-sizing: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.title{
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.text{
    color: #444444;
    font-weight: normal;
}

.button-link{
    padding: 14px 36px 16px 39px;
    color: #000000;
    border: none;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
}

.page-header{
    color: #000000;
    background-color: #FFE17F;
    max-width: 1160px;
    margin: 40px auto 0;
}

.menu-user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 37px 40px 15px 60px;
    width: 1060px;
}

.logo{
    position: absolute;
    top: 17px;
}

.search-form{
    width: 516px;
    position: relative;
}
.input-search {
    width: 100%;
    box-sizing: border-box;
}
.button-search {
   position: absolute;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
   display: none;
}
.input-search:not(:placeholder-shown) ~ .button-search {
    display: block;
}

.menu-user__list{
    display: flex;
    width: 540px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.menu-user__item:first-child{
    margin-right: auto;
}

.menu-user__link{
    display: block;
    position: relative;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: inherit;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 10px 18px 10px 45px;
    min-width: 20px;
    min-height: 10px;
    text-decoration: none;
    outline: none;
}

.menu-user__item:nth-child(1) .menu-user__link::before{
    content: url(../img/header/user.svg);
    position: absolute;
    top: 11px;
    right: 0;
    bottom: 0;
    left: 20px;
}

.menu-user__item:nth-child(2) .menu-user__link::before{
    content: url(../img/header/compare.svg);
    position: absolute;
    top: 11px;
    right: 0;
    bottom: 0;
    left: 24px;
}

.menu-user__item:nth-child(3) .menu-user__link::before{
    content: url(../img/header/basket.svg);
    position: absolute;
    top: 11px;
    right: 0;
    bottom: 0;
    left: 20px;
}

.menu-user__item:last-child{
    padding-left: 13px;
}

.menu-user__link:hover{
    opacity: 0.6;
}

.menu-user__link:focus{
    border: 2px solid #AF4FFF;
    border-radius: 20px;
}

.menu-user__link:active{
    opacity: 0.3;
}

.navigation{
    display: flex;
    justify-content: space-between;
    width: 1080px;
    margin: 0 43px;
}

.navigation__link{
    position: relative;
    display: block;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    color: inherit;
    border: 2px solid transparent;
    border-radius: 25px;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 14px;
    outline: none;
}

.catalog{
    display: flex;
    width: 360px;
}

.catalog .navigation__link::after{
    content: url(../img/header/plus.svg);
    position: absolute;
    margin-left: 18px;
    top: 0;
}

.catalog .navigation__link:hover::after{
    content: url(../img/header/drop.svg);
    position: absolute;
    margin-left: 18px;
    top: 0;
}

.navigation__list{
    display: flex;
    flex-wrap: wrap; 
    width: 540px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.navigation__item:nth-child(3n){
    margin-left: auto;
}


.navigation__list .navigation__link:hover::after{
    content: "";
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 9px;
    left: 0;
    margin: 0 auto;
    background-color: #000000;
    width: 80.5%;
    height: 2px;   
}

.navigation__link:focus{
    border: 2px solid #AF4FFF;
    border-radius: 25px;
}

.navigation__link:active{
    opacity: 0.3;
}

.main-container{
    flex-grow: 1;
}

.slider{
    background: linear-gradient(to bottom,#FFE17F 150px, #FFFFFF 150px);
    max-width: 1160px;
    margin: 0 auto 70px;
}

.slider__list{
    margin: 0px;
    padding: 0px;
}

.slider__item{
    display: flex;
    justify-content: space-between;
}

.slider-images{
    width: 560px;
}

.slider-inner{
    width: 560px;
    margin-top: 81px;
}

.slider-inner__heading{
    margin-bottom: 28px;
}

.slider-inner__text{
    margin-bottom: 46px;
}

.slider-inner__specifications{
    margin-top: 61px;
}

.slider-inner__specifications th{
    min-width: 160px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 30px;
}

.slider-inner__specifications td{
    color: #444444;
    font-size: 16px;
    padding-top: 8px;
}

.slider-inner__more{
    position: relative;
    z-index: 1;
}

.slider-inner__more::after{
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #FFE17F;
    width: 220px;
    height: 8px;
}

.slider-inner__more:hover{
    background: #FFE17F;
}

.slider-inner__more:focus::after{
    background-color: #AF4FFF;
}

.slider-inner__more:active{
    color: #00000025;
}


.product-categories{
    max-width: 1160px;
    margin: 0 auto 69px;
}

.product-categories__list{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    
}

.product-categories__item{
    width: 160px;
    
}

.product-categories__link{
    display: block;
    color: #000000;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    line-height: 24px;
    letter-spacing: -0.02em;
}

.product-categories-bg{
    display: flex;
    background-color: #FFE17F;
    height: 160px;
}

.product-categories__icon{
    margin: auto;   
}

.product-categories__name{
    display: block;
    margin-top: 33px;
}

.services{
    background: linear-gradient(to bottom,#FFFFFF 100px, #F0F0F0 100px);
    margin-bottom: 90px;
}

.services-container{
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
}

.services__list{
    position: relative;
    width: 280px;
    margin: 80px 120px 0 0;
    padding: 0px;
    list-style-type: none;
}

.services__list::after{
    content: "";
    position: absolute;
    top: -80px;
    right: 0;
    bottom: 0;
    left: 277px;
    background-color: #000000;;
    width: 7px;
    height: 319px;
}

.services__item{
    margin-bottom: 24px;
}

.services__button{
    display: block;
    position: relative;
    z-index: 1;
    padding: 9px 18px 10px 18px;
    width: 160px;
}

.services__button::after{
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 120;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #FFC700;
    width: 160px;
    height: 8px;
}

.services__button:hover{
    background-color: #000000;
    width: auto;
    text-align: left;
    color: #fff;
}

.services-inner{
    width: 696px;
    margin: 29px 0 0;
    padding: 0;
    list-style-type: none;
}

.services-inner__item{
    position: relative;
}

.services__title{
    margin-bottom: 33px;
}

.services__text{
    max-width: 450px;
}

.services__icon{
    position: absolute;
    top: 19px;
    right: 0;
    bottom: 0;
    left: 555px;
    margin: auto;  
}

.deleviry{
    background-color: #F0F0F0;
    max-width: 1160px;
    margin: 0 auto;
}

.deleviry__link{
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
}

.about-container{
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    margin: 0 auto 77px;
}

.about-company{
    width: 560px;
}

.about-company__title{
    margin-bottom: 46px;
}

.about-company__text{
    margin-bottom: 29px;
}

.about-company__list{  
    font-style: normal;
    font-weight: 700;
    margin: 70px 0 63px;
    padding-left: 36px;
}

.about-company__item{
    margin-bottom: 10px;
}

.contacts{   
    color: #444444;
    width: 560px;
}

.contacts__title{
    margin-bottom: 45px;
}

.contacts__text{
    margin-bottom: 30px;
}

.contacts__subtitle{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 15px;
}

.contacts__schedule{
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 63px;
}

.contacts__address{
    margin-bottom: 30px;
}

.contacts__address-text{
    font-style: normal;
    margin: 0;
}

.contacts-phone{
    color: #444444;
    font-style: normal;
}

.newsletter-container{
    background-color: #F0F0F0;
}

.newsletter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1160px;
    margin: 0 auto;
    padding: 76.5px 0 124px;
}

.newsletter__title{
    width: 560px;
    margin: 0;
}

.newsletter__text{
    width: 560px;
    margin: 9px 0 55px;
}

.newsletter-form{
    display: flex;
    align-items: center;
    width: 1160px;
}

.newsletter-form__button{
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    height: 55px;
    width: 260px;
}

.newsletter-form__text{
    margin-left: auto;
    background-image: url('../img/check-mark.svg');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 36px;
}

.footer-container{
    max-width: 1160px;
    margin: 0 auto;
    padding: 62px 0 61px;
}

.main-footer__logo{
    margin-right: auto;
    margin-bottom: 15px;
}

.main-footer{
    background-color: #444444;
    color: #FFFFFF;
}

.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
}

.footer-address{
    width: 260px;
    padding-top: 8px;
}

.footer-address__text{
    font-size: 16px;
    line-height: 19px;
    margin: 0;
}

.footer-nav__list{
    display: flex;
    flex-wrap: wrap;
    max-width: 560px;
    margin: 0;
    padding: 0 80px 0 0;
    list-style-type: none;
}

.footer-nav__link{
    display: block;
    color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 14px;
}

.footer-phone{
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
}

.footer-social{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-social__list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 150px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-social__list::after{
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #FFC700;
    width: 80px;
    height: 7px;  
}

.footer-social__item{
    width: 40px;
    height: 40px;
}

.footer-social__link{
    display: block;
    position: relative;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    height: 40px;
}

.footer-social__icon{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #444444;
}

.breadcrumbs-container{
    width: 1100px;
    margin: 37px auto 0;
    padding-left: 60px;
}

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    color: #242424;
    list-style-type: none;
}

.inner-header__title{
    margin-top: 0;
    margin-bottom: 16px;
}

.breadcrumbs__link {
    margin-right: 32px;
    color: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    opacity: 0.6;
    text-decoration: none;
}

.container-bg{
    background: linear-gradient(to right,#DCDCDC 25%, #EBEBEB 25%);
}

.sorting-container{
    display: flex;
    width: 1100px;
    margin: 45px auto 0;
    padding-left: 60px;
}

.sorting-inner{
    display: flex;
    padding: 20px 0;
    align-items: center;
    width: 832px;
}

.sorting-title{
    margin: 0 40px 0 72px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.sorting-type{
    margin-right: auto;
}

.button-sort{
    width: 30px;
    height: 30px;
}

.sort-up{
    margin-right: 19px;
}

.catalog-container{
    background: linear-gradient(to right,#EBEBEB 25%, #FFFFFF 25%)
}

.catalog-products {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
    padding-left: 60px;
}

.filter-title{
    margin: 25px 0;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.filter-title-bg{
    background-color: #DCDCDC; 
    width: 268px;
}

.filter-container{
    background-color: #EBEBEB;
    width: 268px;
}

.catalog-filter{
    width: 200px;
    margin-right: 72px;
}

.catalog-filter__title{
    font-weight: 700;
    line-height: 20px;
}

.control__label{
    font-size: 16px;
    line-height: 19px;
}

.button-filter{
    background-color: #FFC700;
    border-width: 0px ;
}

.catalog-right-column{
    width: 760px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    list-style-type: none;
    margin: 69px 0 51px;
    padding: 0;
    gap: 44px 40px;
  }

.product-card__desc{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.product-card__link{
    text-decoration: none;
}

.product-card__title{
    color: #242424;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    margin: 23px 0 0;
    max-width: 280px;
}

.product-card__price{
    font-weight: 400;
    color: #444444;
    font-size: 18px;
    line-height: 21px;
    text-align: right;

}

.pagination-show-more{
    background-color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.pagination-container{
    display: flex;
    background-color: #EBEBEB;
    margin: 51px 0 77px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;   
}

.pagination__link{
    display: block;
    padding: 25.5px 29px;
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
}

.pagination-number{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 63px;
}

.pagination__link-number{
    display: block;
    padding: 9.5px 15.5px;
    color: #444444;
    font-size: 16px;
    line-height: 19px;
    opacity: 0.3;
    text-decoration: none;
}

.pagination-next{
    margin-left: auto;
}

